import { initializeApp } from "https://www.gstatic.com/firebasejs/12.7.0/firebase-app.js";
import { getAuth } from "https://www.gstatic.com/firebasejs/12.7.0/firebase-auth.js";
import { getFirestore } from "https://www.gstatic.com/firebasejs/12.7.0/firebase-firestore.js";
import { getStorage } from "https://www.gstatic.com/firebasejs/12.7.0/firebase-storage.js";

const firebaseConfig = {
  apiKey: "AIzaSyDVmp6c4_9gg_nyIvkLPvy9BE4U5DlDP2w",
  authDomain: "royal-booking-e6050.firebaseapp.com",
  projectId: "royal-booking-e6050",
  storageBucket: "royal-booking-e6050.firebasestorage.app",
  messagingSenderId: "868870824428",
  appId: "1:868870824428:web:58442b53ee5fbd847960c9"
};

const app = initializeApp(firebaseConfig);
 export const auth = getAuth(app);
export const db = getFirestore(app);
export const storage = getStorage(app);
