.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  background: #111827;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: width 0.25s ease;
  overflow: visible;
  z-index: 999;
}

.sidebar.collapsed {
  width: 70px;
  padding: 25px 10px;
}
