name: Deploy to Firebase Hosting on PR

on:
  pull_request:
    branches:
      - main

jobs:
  deploy_preview:
    name: Deploy Preview
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Firebase Hosting (Preview)
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_ROYAL_BOOKING_E6050 }}"
          projectId: royal-booking-e6050
